body{
    padding: 0;
    border: 0;
    margin: 0;
    background-color: #ffd400;
    width: 100vw;
    height: 100vh;
}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
    flex-direction: column;
    justify-content: space-around;    
}

h1{
    color: #d60f84;
    font-size: 40px;
    font-family: 'Tangerine', cursive;
    text-align: center;
    display: flex;
}

p a{
    text-decoration: none;
    color: #FFF;
    background-color: #d60f84;
    border-radius: 10%;
}




